<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://avatars3.githubusercontent.com/u/44675486?s=400&u=a8875350700445d68cc427c19104af5f47c22324&v=4"
        alt="Imagem de capa do card">
    </div>

    <div class="card-body">
        <h5 class="card-title text-center text-monospace">Juliana Cavalaro</h5>
        <p class="card-text text-center text-monospace">Desenvolvedora Full Stack Java Júnior</p>

        <a href="https://www.linkedin.com/in/juliana-cavalaro/" class="btn btn-outline-info mb-3 d-flex justify-content-center"
        target="_blank">LinkedIn</a>

        <a href="https://github.com/Julianacavalaro" class="btn btn-outline-dark  d-flex justify-content-center"
        target="_blank">GitHub</a>
    </div>
</div>
